<!doctype html>
<title>Devices</title>
<!--link rel=stylesheet type=text/css href="{ url_for('static', filename='panel.css') }"-->
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
<link rel=stylesheet type=text/css href="/static/panel.css">
<div class='container'>
    <div class='tabela'>
        <table>
          <tr>
            <th>MAC</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        {% for key, valuex in entries.items() %}
           <tr>
                <td> {{ key }} </td>
                <td> {% if valuex == 1 %}Authorized{% else %}Unauthorized{% endif %} </td>
                <td>
                    <form action="{{ url_for('add_device') }}" method=post id={{key}}>
                        <input type=hidden name=mac value={{ key }}>
                        <input type=hidden name=status value={% if valuex == 1 %}0{% else %}1{% endif %}>
                    </form>
                    <button style="width:110px" {% if valuex == 1 %}class="button-error pure-button"{% else %}class="button-success pure-button"{% endif %} type=submit form={{key}} value={% if valuex == 1 %}Unauthorize{% else %}Authorize{% endif %}>{% if valuex == 1 %}Unauthorize{% else %}Authorize{% endif %}</button>
                </td>
           </tr>
        {% endfor %}
        </table> 
    </div>
    <div class='device'>
        <table>
          <tr>
            <th>MAC</th>
            <th>Status (1 for authorized, 0 for non)</th>
            <th>Action</th>
          </tr>
           <tr>
                <form action="{{ url_for('add_device') }}" method=post id="form1">
                    <td> <input type=text name=mac> </td>
                    <td> <input type=number name="status" min="0" max="1"> </td>
                </form>
                <td><button style="width:110px"class="button-success pure-button" type=submit form="form1" value=Add device>Add device</button></td>
           </tr>
        </table> 
    </div>
</div>
